@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --swiper-theme-color: rgba(179, 170, 170, 0.711);
}

body {
  font-family: 'Montserrat', cursive;
}

.header-img{
  height: 5rem;

}

.inner-caro {
  transform: rotate(-90deg);
  height: 100%;
  width: 100%;

}

.inner-caro-img {
  transform: rotate(90deg);
  width: 10px;
  height: 600px;
}

.inner-div {
  block-size: fit-content;
}

.div-img {
  transform: rotate(90deg);
}

.back-btn{
  float: inline-end;
  display:flex;
  padding-right: 5rem;
}


.range-slider {
  -webkit-appearance: none;
  width: 60%;
  height: 2px;
  border-radius: 5px;
  /* background: linear-gradient(to right, red, yellow); */
  outline: none;
  padding: 0;
  margin: 3%;
  background-color: aliceblue;
}

.table-cel {
  font-size: x-large;
}

.card-subtitle {
  font-size: large;
}



.card-img:hover {
  cursor: pointer;
}


.range-slider::-webkit-slider-thumb {
  appearance: none;
  background: rgba(42, 41, 41, 0.901);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider::-moz-range-thumb {
  appearance: none;
  background: rgba(42, 41, 41, 0.901);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider::-webkit-slider-thumb:hover {
  appearance: none;
  background-color: #161313;
  background: rgba(27, 26, 26, 0.852);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background .15s ease-in-out;
  box-shadow: 0px 0px 3px 3px #201f1f4b;
}

.fa-angle-left::before{
  font-size: 35px;
  color: rgba(75, 77, 77, 0.681);
}

.nav-container{
  padding-left: 1px;
  margin-left: 5%;
}


.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}

.carousel-inner {
  border-radius: '50%';
}

#btn-up:hover {
  appearance: none;
  background-color: #161313;
  background: rgba(20, 20, 20, 0.61);

  border-radius: 50%;
  cursor: pointer;
  transition: background .15s ease-in-out;
  box-shadow: 0px 0px 3px 3px #201f1f4b;
}

#btn-down:hover {
  appearance: none;
  background-color: #161313;
  background: rgba(20, 20, 20, 0.61);

  border-radius: 50%;
  cursor: pointer;
  transition: background .15s ease-in-out;
  box-shadow: 0px 0px 3px 3px #201f1f4b;
}

.slider-brand{
  width: 500px;
}


.range-slider-value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: rgb(20, 18, 18);
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 12px;
  font-size: 18px;
}



.footer-text {
  font-size: small;
  /* font-style: italic; */

}

/* .table-t-body{
  border-left-color: rgba(22, 31, 42, 0.207);
  border-bottom-color: rgba(23, 28, 28, 0.184);
} */

/* .prouto-card-title{
  color:rgba(21, 7, 7, 0.878) !important;
} */

.card-subtitle{
  text-align: justify;
}

.tr-bgcolor{
  background-color: rgba(247, 247, 247, 0.927) !important;
}

#btn-voltar {
  background-color: rgba(254, 254, 254, 0.058) !important;
  border-width: 0px;
  margin-right: 8rem;
  
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s linear;
}

.range-slider-value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  content: '';
}

.range-min-max-values {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #161313;
  text-align: center;
  width: 90%;
  margin-left: 50px;
}

.btn-prev {
  color: rgb(255, 255, 255);

}

/* .carousel-control-prev-icon {
  height: 6.5%;
  width: 65%;
   */
/* background-image: url(../static/icons/angle-left-solid.svg); */
/* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;  */
/*   color: rgba(228, 222, 222, 0.9);
  background-size: 65%;
  border-radius: 50%;
  background-clip:border-box;
} */

/* .carousel-control-next-icon {
  height: 6.5%;
  width: 65%;
   */
/* background-image: url(../static/icons/angle-right-solid.svg); */
/*  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  background-color: rgba(80, 76, 76, 0.699);
  background-size: 45%, 90%;
  border-radius: 50%;
  transform: rotate(270deg);
} */







.slider-container {
  margin: 0px;
}

.carousel-caption {
  max-width: 80px;
  right: 15%;
  left: 15%;
  top: 1%;

}

.div-cor {
  display: inline-block;
}

.div-color-btn {
  display: inline-block;
}





.cards {
  display: flex;
  border-width: 0px;
  width: auto;
  object-fit: scale-down;

}



.card-produto {
  border-width: 0px;
}

.btn teste {
  background: rgba(201, 196, 196, 0.241);
  border-width: 0px;
}

#btn-up {
  /* width: 2rem;
height: 2rem;
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; */
  background: rgba(88, 86, 86, 0.319);
  border-width: 0px;
  /* background-repeat: no-repeat;
transform: rotate(90deg); */
  /* background-size: 45%, 90%; */
  /* background-position-x: center;
background-position-y: center; */
  color: rgba(228, 222, 222, 0.9);

}


#btn-down {
  background: rgba(88, 86, 86, 0.315);
  border-width: 0px;
  color: rgba(228, 222, 222, 0.9);
}


.grid3-font {
  font-size: small;
}

.card-img-div:hover {
  cursor: pointer;

}

.card{
  padding-top: 1.5rem;
}

/* .card-img{
  max-height: 180px;
  min-height: 180px;
  
} */
/* .card{
  padding-top: 2rem;
} */

/* .cards-img{
  height: 280px;
  width: 300px;
  border-radius: 15%;
  margin-top: 5%;
  transform: scale(1);
  display: inline-block; 
  overflow: hidden;
  
} */

.card-img-test{
  content: url("../static/err.jpg");
}


.visible {
  /* visibility: visible; */
  opacity: 1;
  transition: height .3s linear;
  /* animation: Slide_Up 1s; */
}

.goup {
  animation: Slide_Up .9s;
}

.godown {
  animation: Slide_Down .9s;
}

.hidden {
  /* animation: Slide_Up 1s; */
  /* visibility: hidden; */
  opacity: 0;
  /* transition: visibility 0s .3s, opacity .3s linear; */

}

.timg {
  height: 350px;
  width: 500px;
}



@keyframes Slide_Up {
  100% {
    transform: translateY(-100%);
  }

  0% {
    transform: translateY(0);
  }

}


@keyframes Slide_Down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.mySwiper {
  width: 20rem !important;
  height: 26rem !important;
  
}

.card-img-asd {
  height: 26rem;
  width: 18.5rem !important;
  border-radius: 15px;
  margin-right: 0px !important;
  margin-left: 2%;
  margin-right: 2%;
}

.row>* {
  padding-right: 0px;
}

.swiper-button-prev::after{
  color: rgba(255, 127, 253, 0);
  
  background:  #4444455d;
  background-image: url('../static/icons/left-arrow.png');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;/*  no mechar */
  border-radius: 50%;
  
  position: fixed;
  z-index: 1;
  
  
  
}

.swiper-button-prev {
  content: "";
  border-radius: 50%;
  width: 10px !important; /* nao emcher */
  height: 15px !important; /* nao emcher */
  z-index: 1;
  
}

.spinner-col{
  padding-top: 40vh;
}

.swiper-button-next::after{
  color: rgba(127, 255, 212, 0);
  background-color: #4444455d;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-position: center;
  background-image: url('../static/icons/right-arrow.png ') !important;
  background-repeat: no-repeat;
  background-size: 12px;
  
}

.swiper-button-next {
  content: "";
  border-radius: 50%;
  width: 41px !important;
  height: 75px !important;
  

}



.swiper-button-prev {}

.mySwiper .swiper-button-prev {
  transform: rotate(90deg);
  left: 48%;
  top: 10%
}


element.style {}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.carousel * {
  box-sizing: border-box;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper {
  margin-left: auto;
  /* margin-right: auto; */
  position: fixed;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.mySwiper .swiper-button-next {
  transform: rotate(90deg);
  left: 44%;
  top: 90%;
  padding: 0px;
}

.swiper-button-disabled {
  visibility: hidden;
}

.carousel .carousel-slider {
  height: 300px !important;
}

.slider-div{
  height: fit-content;
  width: 100%;
}


.navbar-brand{
  
  position: inherit;
  
}
  
.navbar-2{
  margin-top: 56px;
  
  position: sticky;
  top: 0;
}


/* .control-arrow .control-prev{
  
  top: 45% !important;
  color: rgb(8, 23, 23) !important;
  padding: 0px !important;
  background-image: url('../static/icons/angle-left-solid.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center;
} */

/* .carousel-status {
  visibility: hidden;
}
 */
.slick-prev:before {
  font-size: 40px !important;
  border-radius: 50%;
  color: rgba(132, 14, 14, 0) !important;
  /* content: url('../static/icons/angle-left-solid.svg'); */
  background-image: url('../static/icons/left-arrow.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: #3d3c3c90;
}

.slick-next:before {
  
  font-size: 40px !important;
  border-radius: 50%;
  color: rgba(132, 14, 14, 0) !important;
  /* content: url('../static/icons/angle-left-solid.svg'); */
  background-image: url('../static/icons/up-arrow.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: #3d3c3caa;
  
}

.slick-next {
  border-radius: 50% !important;
  position: absolute !important;
  margin-right: 15% !important;
  width: 30px !important;
  height: 30px !important;
  padding-right: 150px !important;
  z-index: 1;
  top: 3vh !important;
  
}

/* .slick-next {
  border-radius: 50% !important;
  position: absolute !important;
  margin-right: 13% !important;
  width: 30px !important;
  height: 30px !important;
  z-index: 1;
} */



/* .slick-next {
  border-radius: 50% !important;
  position: absolute !important;
  margin-right: 15% !important;
  width: 30px !important;
  height: 30px !important;
  z-index: 1;
} */

.slick-prev {
  border-radius: 50% !important;
  position: absolute !important;
  margin-left: 12% !important;
  width: 30px !important;
  height: 30px !important;
  transform: rotate(270deg) !important;
  bottom: 1px !important;
  padding-right: 330px !important;
  padding-bottom: 100px !important;
  padding-left: 30px !important;
  /* padding-top: 10vh !important; */
  /* padding-right: 20vw !important; */
  z-index: 1;
  
}

.card-text-carousel{
  max-width: 20rem;
  max-height: 25.3rem;
}

